{% comment %} Added by Al C. Shopify Theme Support on May 6 2019 {% endcomment %}

{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
